
:root{
 --color-main:#626262;
 --color-link:#7D7D7D;
 --color-card-link:#B4AD9E;
 --color-hover:#03A9F4;
}
.container{
    width: 905px;
    margin: 0 auto;
    outline: 3px solid tomato;
}
body{
font-family:"Playfair Display", sans-serif;
font-weight: 400;
color:var(--color-main);
font-size: 14px;
}
.header-nav-list-item-link{
font-size: 14px;
color:var(--color-link);
}
.header-nav-list-item-link:hover{
    color:var(--color-hover);
}
.gallery-link{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--color-card-link);
}
.gallery-list-title{
font-size: 30px;
color:var(--color-main);
}

.button{
font-family:"Playfair Display", sans-serif;
font-size: 14px;
color:var(--color-main);
    margin: 0 auto;
    display: block;
}
.gallery-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}
.gallery-item{
    width: 420px;
}